<h1>Modifier un bien en vente</h1>

<form class="form-horizontal">

	<div class="form-group">
		<label for="idID" class="col-sm-2 control-label">R&eacute;f&eacute;rence du bien immobilier</label>
		<div class="col-sm-5">
			<input type="number" Class="form-control" id="idID" placeholder="n&#186; de r&eacute;f&eacute;rence du bien immobilier"
				ng-model="achatModif.id"></input>
		</div>
	</div>

	<!-- //********************************************************************************* -->
	<div class="form-group">

		<label for="idCategorie" class="col-sm-2 control-label">Cat&eacute;gorie
			Bien Immobilier</label>

		<div class="col-sm-5">
			<div>
				<label><input type="radio" name="Categorie"
					ng-change="RadioChange('Habitation')"
					ng-model="achatModif.categorie" value="Habitation" /> Habitation </label>

				<label><input type="radio" name="Categorie"
					ng-change="RadioChange('Commercial')"
					ng-model="achatModif.categorie" value="Commercial" /> Commercial </label>

				<label><input type="radio" name="Categorie"
					ng-change="RadioChange('Terrain')" ng-model="achatModif.categorie"
					value="Terrain" /> Terrain </label>
			</div>
		</div>
	</div>

	<div class="form-group" ng-if="habitation">
		<label for="idType" class="col-sm-2 control-label">Type de
			bien Immobilier</label>
		<div class="col-sm-5">
			<select id="idType" class=form-control ng-model="achatModif.type">
				<option value="Studio">Studio</option>
				<option value="Appartement">Appartement</option>
				<option value="Maison">Maison</option>
			</select>
		</div>
	</div>

	<div class="form-group" ng-if="commercial">
		<label for="idType" class="col-sm-2 control-label">Type de
			bien</label>
		<div class="col-sm-5">
			<select id="idType" class=form-control ng-model="achatModif.type">
				<option value="Entrepot">Entrepot</option>
				<option value="Bureaux">Bureaux</option>
				<option value="Commerce">Commerce</option>
			</select>
		</div>
	</div>

	<div class="form-group" ng-if="terrain">
		<label for="idType" class="col-sm-2 control-label">Type de
			bien Immobilier</label>
		<div class="col-sm-5">
			<select id="idType" class=form-control ng-model="achatModif.type">
				<option value="Constructible">Constructible</option>
				<option value="Non constructible">Non constructible</option>
			</select>
		</div>
	</div>

	<div class="form-group">

		<label for="idRue" class="col-sm-2 control-label">Adresse du
			bien Immobilier</label>

		<div class="col-sm-1">
			<input type="text" class="form-control" id="idRue" placeholder="Rue"
				ng-model="achatModif.adresse.rue">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" id="idCp"
				placeholder="code postal" ng-model="achatModif.adresse.cp">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" id="idVille"
				placeholder="Ville" ng-model="achatModif.adresse.ville">
		</div>

	</div>

	<div class="form-group">
		<label for="idPays" class="col-sm-2 control-label">Pays</label>
		<div class="col-sm-5">
			<select id="idPays" class=form-control
				ng-model="achatModif.adresse.pays">
				<option value="FR">FR-France</option>
				<option value="USA">USA-Am&eacute;rique</option>
			</select>
		</div>
	</div>

	<!-- //********************************************************************************* -->



	<!-- //********************************************************************************* -->
	<div class="form-group">
		<label for="idSurface" class="col-sm-2 control-label">Surface
			habitable</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idSurface"
				placeholder="surface habitable" ng-model="achatModif.surface">
		</div>
	</div>
	<div class="form-group">
		<label for="idNoChambre" class="col-sm-2 control-label">Nombre
			de Chambre</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idNoChambre"
				placeholder="Nb de chambre" ng-model="achatModif.noChambre">
		</div>
	</div>

	<div class="form-group">
		<label for="idStatut" class="col-sm-2 control-label">Statut</label>
		<div class="col-sm-5">
			<select id="idStatut" class=form-control ng-model="achatModif.statut">
				<option value="disponible">Disponible</option>
				<option value="loue">Lou&eacute;</option>
				<option value="indisponible">Indisponible</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="idDateSoumis" class="col-sm-2 control-label">Date
			de soumission</label>
		<div class="col-sm-5">
			<input type="date" class="form-control" id="idDateSoumis"
				placeholder="Date de soumission du bien"
				ng-model="achatModif.dateSoumis">
		</div>
	</div>
	<div class="form-group">
		<label for="idDateDispo" class="col-sm-2 control-label">Date
			Disponibilit&eacute;</label>
		<div class="col-sm-5">
			<input type="date" class="form-control" id="idDateDispo"
				placeholder="Date de disponibilit&eacute; du bien"
				ng-model="achatModif.dateDispo">
		</div>
	</div>
	<div class="form-group">
		<label for="idRevenueCadastre" class="col-sm-2 control-label">Revenu
			Cadastre</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idRevenueCadastre"
				placeholder="RevenueCadastre" ng-model="achatModif.revenueCadastre">
		</div>
	</div>

	<div class="form-group">
		<label for="idEtat" class="col-sm-2 control-label">&Eacute;tat</label>
		<div class="col-sm-5">
			<select id="idEtat" class=form-control ng-model="achatModif.etat">
				<option value="a restaurer">&agrave; restaurer</option>
				<option value="correct">correct</option>
				<option value="impecable">impeccable</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="idPrixDemande" class="col-sm-2 control-label">Prix
			Demand&eacute;</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idPrixDemande"
				placeholder="PrixDemande" ng-model="achatModif.prixDemande">
		</div>
	</div>

	<div class="form-group">
		<label for="idPhoto" class="col-sm-2 control-label">Photo</label>
		<div class="col-sm-5">
			<input type="file" name="file" form-control" id="idPhoto"
				placeholder="Photo" ng-model="achatModif.photos" accept="image/*"
				base-sixty-four-input multiple>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" ng-click="modifier()">Modifier</button>
		</div>
	</div>
</form>