<h1>Ajout d'un bien en vente</h1>

Propri&eacute;taire : {{achatForm.proprietaire.nom}}
{{achatForm.proprietaire.prenom}}
<form class="form-horizontal">

	<!-- //********************************************************************************* -->


	<div class="form-group">
		<div class="form-group">

			<label for="idCategorie" class="col-sm-2 control-label">Cat&eacute;gorie
				Bien Immobilier</label>

			<div class="col-sm-5">
				<div>
					<label><input type="radio" name="Categorie"
						ng-change="RadioChange('Habitation')"
						ng-model="achatForm.categorie" value="Habitation" /> Habitation </label>

					<label><input type="radio" name="Categorie"
						ng-change="RadioChange('Commercial')"
						ng-model="achatForm.categorie" value="Commercial" /> Commercial </label>

					<label><input type="radio" name="Categorie"
						ng-change="RadioChange('Terrain')" ng-model="achatForm.categorie"
						value="Terrain" /> Terrain </label>
				</div>
			</div>
		</div>
		<label for="idRue" class="col-sm-2 control-label">Adresse du
			bien Immobilier</label>

		<div class="col-sm-1">
			<input type="text" class="form-control" id="idRue" placeholder="Rue"
				ng-model="achatForm.adresse.rue">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" id="idCp"
				placeholder="code postal" ng-model="achatForm.adresse.cp">
		</div>
		<div class="col-sm-2">
			<input type="text" class="form-control" id="idVille"
				placeholder="Ville" ng-model="achatForm.adresse.ville">
		</div>

	</div>

	<div class="form-group">
		<label for="idPays" class="col-sm-2 control-label">Pays</label>
		<div class="col-sm-5">
			<select id="idPays" class=form-control
				ng-model="achatForm.adresse.pays">
				<option value="FR">FR-France</option>
				<option value="USA">USA-Am&eacute;rique</option>
			</select>
		</div>
	</div>

	<!-- //********************************************************************************* -->




	<div class="form-group" ng-if="habitation">
		<label for="idType" class="col-sm-2 control-label">Type de
			bien</label>
		<div class="col-sm-5">
			<select id="idType" class=form-control ng-model="achatForm.type">
				<option value="Studio">Studio</option>
				<option value="Appartement">Appartement</option>
				<option value="Maison">Maison</option>
			</select>
		</div>
	</div>

	<div class="form-group" ng-if="commercial">
		<label for="idType" class="col-sm-2 control-label">Type de
			bien</label>
		<div class="col-sm-5">
			<select id="idType" class=form-control ng-model="achatForm.type">
				<option value="Entrepot">Entrepot</option>
				<option value="Bureaux">Bureaux</option>
				<option value="Commerce">Commerce</option>
			</select>
		</div>
	</div>

	<div class="form-group" ng-if="terrain">
		<label for="idType" class="col-sm-2 control-label">Type de
			bien</label>
		<div class="col-sm-5">
			<select id="idType" class=form-control ng-model="achatForm.type">
				<option value="Constructible">Constructible</option>
				<option value="Non constructible">Non constructible</option>
			</select>
		</div>
	</div>
	<!-- //********************************************************************************* -->
	<div class="form-group">
		<label for="idSurface" class="col-sm-2 control-label">Surface</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idSurface"
				placeholder="Surface" ng-model="achatForm.surface">
		</div>
	</div>
	<div class="form-group">
		<label for="idNoChambre" class="col-sm-2 control-label">Nombre
			de Chambre</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idNoChambre"
				placeholder="NoChambre" ng-model="achatForm.noChambre">
		</div>
	</div>

	<div class="form-group">
		<label for="idStatut" class="col-sm-2 control-label">Statut</label>
		<div class="col-sm-5">
			<select id="idStatut" class=form-control ng-model="achatForm.statut">
				<option value="disponible">Disponible</option>
				<option value="vendu">Vendu</option>
				<option value="indisponible">Indisponible</option>
			</select>
		</div>
	</div>

	<div class="form-group">
		<label for="idDateSoumis" class="col-sm-2 control-label">Date
			Soumission</label>
		<div class="col-sm-5">
			<input type="date" class="form-control" id="idDateSoumis"
				placeholder="Date de Soumission" ng-model="achatForm.dateSoumis">
		</div>
	</div>

	<div class="form-group">
		<label for="idDateDispo" class="col-sm-2 control-label">Date
			Disponibilit&eacute;</label>
		<div class="col-sm-5">
			<input type="date" class="form-control" id="idDateDispo"
				placeholder="Date de Disponibilite" ng-model="achatForm.dateDispo">
		</div>
	</div>





	<!-- ******************************************************************************** -->
	<div class="form-group">
		<label for="idRevenueCadastre" class="col-sm-2 control-label">Revenu
			Cadastre</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idRevenueCadastre"
				placeholder="RevenueCadastre" ng-model="achatForm.revenueCadastre">
		</div>
	</div>

	<div class="form-group">
		<label for="idEtat" class="col-sm-2 control-label">Etat</label>
		<div class="col-sm-5">
			<select id="idEtat" class=form-control ng-model="achatForm.etat">
				<option value="a restaurer">&agrave; restaurer</option>
				<option value="correct">correct</option>
				<option value="impecable">impeccable</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="idPrixDemande" class="col-sm-2 control-label">Prix
			Demand&eacute;</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idPrixDemande"
				placeholder="PrixDemande" ng-model="achatForm.prixDemande">
		</div>
	</div>
	<div class="form-group">
		<label for="idPhoto" class="col-sm-2 control-label">Photo</label>
		<div class="col-sm-5">
			<input type="file" name="file" class="form-control" id="idPhoto"
				placeholder="Photo" ng-model="achatForm.photos" accept="image/*"
				base-sixty-four-input multiple>
		</div>
	</div>


	<div class="form-group" style="display: none">
		<label for="idProprio" class="col-sm-2 control-label">Propri&eacute;taire</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idProprio"
				placeholder="Propri&eacute;taire du bien"
				ng-model="achatForm.proprietaire.id">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" ng-click="ajouter()">Ajouter</button>
		</div>
	</div>
</form>

<h1 style="color: red; text-align: center">{{msg}}</h1>