<h1>Formulaire Ajout d'achat</h1>

<form class="form-horizontal">

	<div class="form-group">
		<label for="idCp" class="col-sm-2 control-label">Code Postal</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idCp" placeholder="Code Postal"
				ng-model="achatForm.cp">
		</div>
	</div>
	
	<div class="form-group">
		<label for="idPays" class="col-sm-2 control-label">Pays</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idPays"
				placeholder="Pays" ng-model="achatForm.pays">
		</div>
	</div>
	
		<div class="form-group">
		<label for="idRue" class="col-sm-2 control-label">Rue</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idRue"
				placeholder="Rue" ng-model="achatForm.rue">
		</div>
	</div>
	
		<div class="form-group">
		<label for="idVille" class="col-sm-2 control-label">Ville</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idVille"
				placeholder="Ville" ng-model="achatForm.ville">
		</div>
	</div>
	
		<div class="form-group">
		<label for="idCategorie" class="col-sm-2 control-label">Categorie</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idCategorie"
				placeholder="Categorie" ng-model="achatForm.categorie">
		</div>
	</div>
	
		<div class="form-group">
		<label for="idDateDispo" class="col-sm-2 control-label">Date Disponibilité</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idDateDispo"
				placeholder="DateDispo" ng-model="achatForm.dateDispo">
		</div>
	</div>
	
	<div class="form-group">
		<label for="idDateSoumis" class="col-sm-2 control-label">Date Soumission</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idDateSoumis"
				placeholder="DateSoumis" ng-model="achatForm.dateSoumis">
		</div>
	</div>
	
	<div class="form-group">
		<label for="idNoChambre" class="col-sm-2 control-label">Nombre Chambre</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idNoChambre"
				placeholder="NoChambre" ng-model="achatForm.noChambre">
		</div>
	</div>
	
	<div class="form-group">
		<label for="idPhoto" class="col-sm-2 control-label">Photo</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idPhoto"
				placeholder="Photo" ng-model="achatForm.photo">
		</div>
	</div>
	
	<div class="form-group">
		<label for="idRevenueCadastre" class="col-sm-2 control-label">Revenue Cadastre</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idRevenueCadastre"
				placeholder="RevenueCadastre" ng-model="achatForm.revenueCadastre">
		</div>
	</div>
	
	<div class="form-group">
		<label for="idStatut" class="col-sm-2 control-label">Statut</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idStatut"
				placeholder="Statut" ng-model="achatForm.statut">
		</div>
	</div>
	
	<div class="form-group">
		<label for="idType" class="col-sm-2 control-label">Type</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idType"
				placeholder="Type" ng-model="achatForm.type">
		</div>
	</div>
	
	<div class="form-group">
		<label for="idEtat" class="col-sm-2 control-label">Etat</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idEtat"
				placeholder="Etat" ng-model="achatForm.etat">
		</div>
	</div>
	
	<div class="form-group">
		<label for="idPrixDemande" class="col-sm-2 control-label">Prix Demande</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idPrixDemande"
				placeholder="PrixDemande" ng-model="achatForm.prixDemande">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" ng-click="ajouter()">Ajouter</button>
		</div>
	</div>
</form>

<h1 style="color: red; text-align: center">{{msg}}</h1>