	<br /> id: {{achat.id}} 
	<br/>Adresse : {{achat.adresse.rue}} {{achat.adresse.cp}} {{achat.adresse.ville}} {{achat.adresse.pays}}
	<br /> Categorie: {{achat.categorie}} 
	<br /> Dat	Disponibilié: {{achat.dateDispo}} 
	<br /> Date soumission:		{{achat.dateSoumis}} 
	<br /> Nombre de chambre: {{achat.noChambre}} 
	<br />	Revenue Cadastre: {{achat.revenueCadastre }} 
	<br /> Statut:	{{achat.statut}} 
	<br /> Type: {{achat.type}} 
	<br /> Etat:	{{achat.etat}} 
	<br /> Prix Demandé: {{achat.prixDemande}}