<h1>Supprimer un bien en vente</h1>

<form class="form-horizontal">

	<div class="form-group col-md-10" style="text-align: center; padding: 5px; margin: 5px">
		<label for="idId" class="col-sm-2 control-label">R&eacute;f&eacute;rence du bien</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="idId" placeholder="n&#186; de r&eacute;f&eacute;rence du bien immobilier"
				ng-model="id">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" ng-click="delet()">Supprimer</button>
		</div>
	</div>
</form>
<h1 style="color: red; text-align: center">{{msg}}</h1>
