
<h1>Formulaire Rechercher Achat</h1>
<form class="form-horizontal">

	<div class="form-group col-md-10" style="text-align: center; padding: 5px; margin: 5px">
		<label for="idId" class="col-sm-2 control-label">ID</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="idId" placeholder="ID"
				ng-model="id">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" ng-click="rechercher()">Rechercher</button>
		</div>
	</div>
</form>

<h1 style="color: red; text-align: center">{{msg}}</h1>

<!-- le carrousel des photos -->

<div style="width: 500px; height: 500px" class="center-block">
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" ng-repeat="p in achat.listeImages"
				ng-class="{active: ($dashboardAdmin === 0)}" data-slide-to="{{$dashboardAdmin}}"></li>
		</ol>
		<div class="carousel-inner">
			<div ng-class="{item: true, active: ($dashboardAdmin === 0)}"
				ng-repeat="p in achat.listeImages">

				<img class="d-block w-100"
					ng-src="data:image/JPEG;base64,{{p.image}}"
					alt="Slide number {{$dashboardAdmin}}">
			</div>
		</div>

		<span class="left carousel-control" data-target="#myCarousel"
			data-slide="prev"> <span
			class="glyphicon glyphicon-chevron-left"></span>
		</span> <span class="right carousel-control" data-target="#myCarousel"
			data-slide="next"> <span
			class="glyphicon glyphicon-chevron-right"></span>
		</span>
	</div>
</div>

<!-- **************************************************** -->


<div ng-show="indice">
	<br /> id: {{achat.id}} 
	<br/>Adresse : {{achat.adresse.rue}} {{achat.adresse.cp}} {{achat.adresse.ville}} {{achat.adresse.pays}}
	<br /> Categorie: {{achat.categorie}} 
	<br /> Dat	Disponibilié: {{achat.dateDispo}} 
	<br /> Date soumission:		{{achat.dateSoumis}} 
	<br /> Nombre de chambre: {{achat.noChambre}} 
	<br />	Revenue Cadastre: {{achat.revenueCadastre }} 
	<br /> Statut:	{{achat.statut}} 
	<br /> Type: {{achat.type}} 
	<br /> Etat:	{{achat.etat}} 
	<br /> Prix Demandé: {{achat.prixDemande}}


</div>




