<h1>Modifier la fiche d'un client</h1>

<form class="form-horizontal">
	<div class="form-group">
		<label for="idId" class="col-sm-2 control-label">ID</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="idId" placeholder="ID"
				ng-model="clModif.id">
		</div>
	</div>
	<div class="form-group">
		<label for="idNom" class="col-sm-2 control-label">Nom</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idNom" placeholder="Nom"
				ng-model="clModif.nom">
		</div>
	</div>
	<div class="form-group">
		<label for="idPrenom" class="col-sm-2 control-label">Prenom</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idPrenom"
				placeholder="Prenom" ng-model="clModif.prenom">
		</div>
	</div>
	<div class="form-group">
		<label for="idTelPrive" class="col-sm-2 control-label">T&eacute;l&eacute;phone
			(priv&eacute;)</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idTelPrive"
				placeholder="Votre téléphone perso" ng-model="clModif.telPrive">
		</div>
	</div>
	<div class="form-group">
		<label for="idRue" class="col-sm-2 control-label">Rue</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idRue"
				placeholder="N° et Nom de la rue" ng-model="clModif.adresse.rue">
		</div>
	</div>
	<div class="form-group">
		<label for="idCp" class="col-sm-2 control-label">Code Postal</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idCp"
				placeholder="Code postal" ng-model="clModif.adresse.cp">
		</div>
	</div>
	<div class="form-group">
		<label for="idVille" class="col-sm-2 control-label">Ville</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idVille"
				placeholder="Nom de ville" ng-model="clModif.adresse.ville">
		</div>
	</div>
	<div class="form-group">
		<label for="idPays" class="col-sm-2 control-label">Pays</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idPays"
				placeholder="Pays" ng-model="clModif.adresse.pays">
		</div>
	</div>


	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" ng-click="update()">Modifier</button>
		</div>
	</div>
</form>