<h1>Supprimer un étudiant</h1>

<form class="form-horizontal">
	<div class="form-group">
		<label for="idId" class="col-sm-2 control-label">ID</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" id="idId" placeholder="ID"
				ng-model="id">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" ng-click="delet()">Supprimer</button>
		</div>
	</div>
</form>
<h1 style="color: red; text-align: center">{{msg}}</h1>
<div ng-show="indice">
	<br /> id: {{cl.id}} 
	<br /> Date d'inscription: {{cl.num}} 
	<br /> Nom: {{cl.nom}} 
	<br /> Prenom: {{cl.prenom}} 
	<br /> Téléphone (privé): {{cl.telPrive}} 
	<br /> Rue: {{cl.rue}} 
	<br /> Code postal: {{cl.cp}} 
	<br /> Ville: {{cl.ville}} 
	<br /> Pays: {{cl.pays}}
</div>