<!-- Head de la page -->
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			<div class="tableaudebord">
				<div class="contact_container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<h2>Nouveau conseiller</h2>
							<p>Enregistrement des informations</p>
						</div>
					</div>
				</div>


				<form class="form-horizontal" role="form">
					<!-- Première partie de la page -->
					<div class='row'>
						<div class="col-lg-12-offset-2">
							<div class="titleprghp">
								<span class="prg">Informations</span>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group has-success has-feedback">
							<label for="idNom" class="col-sm-2 control-label">Nom :</label>
							<div class="col-sm-8" form-group has-success has-feedback>
								<input type="text" class="form-control" id="idNom"
									placeholder="Nom" ng-model="coForm.nom"
									style="background-image: url(assets/resources/img/check.png); background-repeat: no-repeat; background-position: right center">
							</div>
						</div>
						<div class="form-group has-success has-feedback">
							<label for="idMdp" class="col-sm-2 control-label">Mot de Passe
								:</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" id="idMdp"
									placeholder="Mdp" ng-model="coForm.mdp"
									style="background-image: url(assets/resources/img/check.png); background-repeat: no-repeat; background-position: right center">
							</div>
						</div>

						<div class="row">
							<div class="col-lg-12">
								<div class="boutton">
									<div class="col-lg-7 col-md-7 hidden-md hidden-xs"></div>
									<div class="col-lg-1 col-md-1 col-xs-12">
										<button name="submit" id="cancel" type="reset" value="reset"
											class="btn btn-default">
											Cancel<span class="glyphicon glyphicon-remove"></span>
										</button>
									</div>
									<div
										class="col-lg-3 col-lg-offset-1 col-md-3 col-md-offset-1 col-xs-12">
										<button name="submit" id="submit" class="btn btn-default"
											ng-click="add()">
											<span class="glyphicon glyphicon-floppy-disk"></span>Enregistrer
											la fiche<span class="glyphicon glyphicon-chevron-right"></span>
										</button>
									</div>
								</div>
							</div>
						</div>
				</form>
			</div>
		</div>
	</div>
</div>


<h1 style="color: red; text-align: center">{{msg}}</h1>