<h1 style="text-align: center">Liste des visites</h1>

	<div ng-repeat="l in liste"  class="container">
		<div class="col-md-4" style="border: black; ">
		
		<br/>{{l.id}}
		<br/>Catégorie de bien :{{l.categorie}}
		<br/>Type : {{l.type}}
		<br/>Surface habitable{{l.surface}}
		<br/>Nombre de chambre : {{l.noChambre}}
		<br/>Statut : {{l.statut}}
		<br/>Date de soumission du bien{{l.dateSoumis | date: "dd/MM/yyyy"}}
		<br/>Date de disponibilité du bien{{l.dateDispo | date: "dd/MM/yyyy"}}
		<br/>Adresse : {{l.adresse.rue}} {{l.adresse.cp}} {{l.adresse.ville}} {{l.adresse.pays}}
		<br/>Revenu cadastral : {{l.revenueCadastre}}
		<br/>Caution : {{l.caution}}
		<br/>Loyer : {{l.loyer}}
		<br/>Charge : {{l.charge}}
		<br/>Type de bail : {{l.bail}}
		<br/>Garniture du bien: {{l.garniture}}
		<br/>
		<br/>
		
		
		</div>
	</div>



