	<br /> id: {{l.id}} 
	<br/>Adresse : {{l.adresse.rue}} {{l.adresse.cp}} {{l.adresse.ville}} {{l.adresse.pays}}
	<br /> Categorie: {{l.categorie}} 
	<br /> Date	Disponibilié: {{l.dateDispo}} 
	<br /> Date soumission:		{{l.dateSoumis}} 
	<br /> Nombre de chambre: {{l.noChambre}} 
	<br />	Revenue Cadastre: {{l.revenueCadastre }} 
	<br /> Statut:	{{l.statut}} 
	<br /> Type: {{l.type}} 
	<br /> Loyer: {{l.loyer}}
	<br /> Caution: {{l.caution}}
	<br /> Charge: {{l.charge}}
	<br /> Bail: {{l.bail}}
	
	
	<a ng-click="addVisiteLien(l)">Créer une visite</a> 