<h1 style="text-align: center">Liste des locations</h1>
<h4>
	Rechercher un bien dans la liste : <input type="text"
		ng-model="recherche"
		style="color: blue; background-image: url(assets/resources/img/search.png); background-repeat: no-repeat; background-position: 1px 1px; padding-left: 25px">
</h4>

<div class="container">
	<div ng-repeat="l in liste|filter:recherche" class="col-md-10"
		style="text-align: center; padding: 5px; margin: 5px">
		<div class="row featurette"
			style="margin: 25px; border: 2px solid black; padding: 5px; margin-right: none">
			<div class="col-md-7">
				<h2 class="featurette-heading"><a ng-click="rechercherLoc(l.id)">Location n&#176;{{l.id}}</a></h2>
				<div style="margin: 5px; text-align: left;">
					<div>
						<h3>{{l.type}}</h3>
					</div>
					<div>
						<em class="detailbien">{{l.surface}}m&#178;</em><em
							class="detailbien">{{l.noChambre}} chambre(s)</em><em
							class="detailbien">{{l.statut}}</em><em class="detailbien">{{l.garniture}}</em>
					</div>
					<br />
					<div>
						{{l.adresse.ville}} {{l.adresse.pays}}
					</div>
					<br>
					<div>
						<h4>Loyer : {{l.loyer}}&euro;</h4>
				</div>
			<br />
				<br />
			</div>
			</div>
			<div class="col-md-5">
				<div id="myCarousel" class="carousel slide" data-ride="carousel"
					style="width: 250px; height: 250px; border: 1px solid black; margin: 50px; padding: none">
					<div class="carousel-inner">
						<div ng-class="{item: true, active: ($index === 0)}"
							ng-repeat="p in l.listeImages">

							<img class="d-block w-100"
								ng-src="data:image/JPEG;base64,{{p.image}}"
								alt="Slide number {{$index}}"
								style="width: 250px; height: 250px">
						</div>
					</div>
				</div>
			</div>
			<hr class="featurette-divider">
		</div>
	</div>
</div>



