	<br /> id: {{location.id}} 
	<br/>Adresse : {{location.adresse.rue}} {{location.adresse.cp}} {{location.adresse.ville}} {{location.adresse.pays}}
	<br /> Categorie: {{location.categorie}} 
	<br /> Date	Disponibilié: {{location.dateDispo}} 
	<br /> Date soumission:		{{location.dateSoumis}} 
	<br /> Nombre de chambre: {{location.noChambre}} 
	<br />	Revenue Cadastre: {{location.revenueCadastre }} 
	<br /> Statut:	{{location.statut}} 
	<br /> Type: {{location.type}} 
	<br /> Loyer: {{location.loyer}}
	<br /> Caution: {{location.caution}}
	<br /> Charge: {{location.charge}}
	<br /> Bail: {{location.bail}}
	
	
	<a ng-click="addVisiteLien(location)">Créer une visite</a> 