
<h1>Formulaire d'ajout d'un nouveau propriétaire</h1>

<form class="form-horizontal">
	<div class="form-group">
		<label for="idNom" class="col-sm-2 control-label">Nom</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idNom" placeholder="Nom"
				ng-model="proprioForm.nom">
		</div>
	</div>
	<div class="form-group">
		<label for="idPrenom" class="col-sm-2 control-label">Prénom</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idPrenom"
				placeholder="Prénom" ng-model="proprioForm.prenom">
		</div>
	</div>
	<div class="form-group">
		<label for="idRue" class="col-sm-2 control-label">Rue</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idRue"
				placeholder="Le nom de votre rue" ng-model="proprioForm.adresse.rue">
		</div>
	</div>
	<div class="form-group">
		<label for="idCodeP" class="col-sm-2 control-label">Code
			Postal</label>
		<div class="col-sm-5">
			<input type="number" class="form-control" id="idCodeP"
				placeholder="Code Postal" ng-model="proprioForm.adresse.cp">
		</div>
	</div>
	<div class="form-group">
		<label for="idVille" class="col-sm-2 control-label">Ville</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idVille"
				placeholder="Ville" ng-model="proprioForm.adresse.ville">
		</div>
	</div>
	<div class="form-group">
		<label for="idPays" class="col-sm-2 control-label">Pays</label>
		<div class="col-sm-5">
			<input type="text" class="form-control" id="idPays"
				placeholder="Pays" ng-model="proprioForm.adresse.pays">
		</div>
	</div>
	<div class="form-group">
		<label for="idTelPrive" class="col-sm-2 control-label">Téléphone
			Privé</label>
		<div class="col-sm-5">
			<input type="tel" class="form-control" id="idTelPrive"
				placeholder="Tel Privé" ng-model="proprioForm.telPrive">
		</div>
	</div>
	<div class="form-group">
		<label for="idTelPro" class="col-sm-2 control-label">Téléphone
			Professionnel</label>
		<div class="col-sm-5">
			<input type="tel" class="form-control" id="idTelPro"
				placeholder="Age" ng-model="proprioForm.telPro">
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" ng-click="add()">Ajouter</button>
		</div>
	</div>
</form>

<h1 style="color: red; text-align: center">{{msg}}</h1>
