


<div class="container">
	<div class="col-md-6"
		style="text-align: center; padding: 5px; margin: 5px">
		<h2 class="featurette-heading">{{proprio.nom}} {{proprio.prenom}}</h2>
		<div style="text-align: left">
			<br /> Num&#233;ro de r&eacute;f&eacute;rence: {{proprio.id}} <br />Adresse:
			{{proprio.adresse.rue}} {{proprio.adresse.cp}} <br />
			{{proprio.adresse.ville}} {{proprio.adresse.pays}} <br />
			T&#233;l&#233;phone (priv&#233;): {{proprio.telPrive}} <br />
			T&#233;l&#233;phone (professionnel) : {{proprio.telPro}} <br />
			Mail: {{proprio.mail}}
		</div>
		<br />
		<div>
			<a ng-click="deleteLien(proprio)" class="btn btn-info">Supprimer</a>
			<a ng-click="updateLien(proprio)" class="btn btn-info">Modifier</a><br />
			<br /> <a ng-click="addLocationLien(proprio)" class="btn btn-info">Cr&#233;er
				un bien a la location</a> <a ng-click="addAchatLien(proprio)"
				class="btn btn-info">Cr&#233;er un bien a vendre</a>
		</div>
	</div>
</div>


<div ng-repeat="l in listeLoc" class="col-md-4"
	style="text-align: center; padding: 5px; margin: 5px">
	<div class="row featurette"
		style="margin: 25px; border: 2px solid black; padding: 5px; margin-right: none">
		<h4 class="featurette-heading">
			<a ng-click="rechercherLoc(l.id)">Location n&#176;{{l.id}}</a>
		</h4>
		<div style="margin: 5px; text-align: left;">
			<div>
				<h5>
					{{l.type}}
					</h3>
			</div>
			<div>
				<em class="detailbien">{{l.surface}}m&#178;</em><em
					class="detailbien">{{l.noChambre}} chambre(s)</em>
					<br/>
					<em class="detailbien">{{l.statut}}</em>
					<em class="detailbien">{{l.garniture}}</em>
			</div>
			<div>{{l.adresse.rue}} {{l.adresse.cp}} {{l.adresse.ville}}
				{{l.adresse.pays}}</div>
			<br>
		</div>
	</div>
</div>

<div ng-repeat="achat in listeAchat" class="col-md-4"
	style="text-align: center; padding: 5px; margin: 5px">
	<div class="row featurette"
		style="margin: 25px; border: 2px solid black; padding: 5px; margin-right: none; text-align: center">
		<h4 class="featurette-heading">
			<a ng-click="rechercherAchat(achat.id)">&Agrave; Vendre
				n&#176;{{achat.id}}</a>
		</h4>
		<div style="margin: 5px; text-align: left;">
			<div>
				<h5>{{achat.type}}</h5>
			</div>
			<div>
				<em class="detailbien">{{achat.surface}}m&#178;</em>
				<em class="detailbien">{{achat.noChambre}} chambre(s)</em>
					<br/>
					<em
					class="detailbien">{{achat.statut}}</em>
			</div>
			<div>{{achat.adresse.rue}} {{achat.adresse.cp}}
				{{achat.adresse.ville}} {{achat.adresse.pays}}</div>
			<br />
		</div>
	</div>
</div>