<div>
	<img src="assets/resources/img/tableauDeBord.jpg"
		style="width: 1286px; height: 708px; z-index: 1; position: absolute">
	<div>
		<a
			style="position: absolute; z-index: 2; bottom: 300px; left: 400px; width: 150px; height: 50px; margin-top: 15px"
			href="#!proprietaire/add" class="btn btn-primary">Proposer un
			bien</a> <a
			style="position: absolute; z-index: 2; bottom: 250px; right: 90px; width: 150px; height: 50px; margin-top: 15px"
			href="#!location/liste" class="btn btn-primary">Louer</a> <a
			style="position: absolute; z-index: 2; bottom: 250px; right: 250px; width: 150px; height: 50px; margin-top: 15px"
			href="#!achat/liste" class="btn btn-primary">Acheter</a>
	</div>

</div>