<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<a href="#!client/liste"> <img src="/AppSystemImmo/src/main/webapp/assets/resources/img/clientele.png"
				alt="Lights" style="width: 100%">
				<div class="caption">
					<p>Gestion Clientèle</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<a href="#!proprietaire/liste"> <img src="../assets/resources/img/proprietaire.png"
				alt="Nature" style="width: 100%">
				<div class="caption">
					<p>Gestion Propriétaire</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<a href="#!achat/liste"> <img src="../assets/resources/img/bienImmo.png"
				alt="Fjords" style="width: 100%">
				<div class="caption">
					<p>Gestion Achat</p>
				</div>
			</a>
		</div>
	</div>
</div>