<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<a href="#!client/liste"> <img
				ng-src="assets/resources/img/clientele.png" alt="Client"
				class="img-circle" style="width: 100%">
				<div class="caption">
					<p>Gestion Client&egrave;le</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<a href="#!proprietaire/liste"> <img
				ng-src="assets/resources/img/proprietaire.png" alt="Proprio"
				class="img-circle" style="width: 100%">
				<div class="caption">
					<p>Gestion Propri&eacute;taire</p>
				</div>
			</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="thumbnail">
			<a href="#!achat/liste"> <img
				ng-src="assets/resources/img/bienImmo.png" alt="Achat"
				class="img-circle" style="width: 100%">
				<div class="caption">
					<p>Gestion Achat</p>
				</div>
			</a>
		</div>
	</div>
	<div class="col-md-4">
		<div class="thumbnail">
			<a href="#!location/liste"> <img
				ng-src="assets/resources/img/bienImmo.png" alt="Location"
				class="img-circle" style="width: 100%">
				<div class="caption">
					<p>Gestion Location</p>
				</div>
			</a>
		</div>
	</div>
</div>