<!-- Formilaire Ajout de visite (sélection date et heure) -->
<h1>Ajouter une visite</h1>
<br />
<form class="form-horizontal">

	<div class="form-group">
		<label for="idNom" class="col-sm-4 control-label">Date et
			heure de la visite</label>
		<div class="col-sm-5">
			<input type="datetime-local" ng-model="visiteForm.date"
				placeholder="Selectionner un rendez-vous">
		</div>
	</div>


	<div class="form-group">
		<label for="id" class="col-sm-4 control-label">
			S&eacute;lectionner un client existant: </label>
		<div class="col-sm-5" >
			<select id="id" class=form-control ng-model="visiteForm.client_id" >
				<option value="{{v.client.id}}" ng-repeat="v in liste">{{v.client.id}} - {{v.client.nom}} {{v.client.prenom}}</option>
			</select> <a
				href="http://localhost:8080/AppSystemImmo/index.html#!/client/add">Ou
				ajouter un nouveau client</a>
		</div>
	</div>




	<div class="form-group">
		<label for="id" class="col-sm-4 control-label">
			S&eacute;lectionner le bien &agrave; visiter </label>
		<div class="col-sm-5">
			<select id="id" class=form-control ng-model="visiteForm.achat_id">	
					<option value="{{v.achat_id}}" ng-repeat="v in liste">{{v.achat.categorie}} {{v.achat.adresse.cp}} {{v.achat.adresse.ville}}</option>	
			</select>

		</div>
	</div>

	<div class="form-group">
		<label for="id" class="col-sm-4 control-label">
			S&eacute;lectionner le conseiller qui effectura la visite: </label>
		<div class="col-sm-5">
				<select id="id" class=form-control ng-model="visiteForm.conseiller_id">	
					<option value="{{v.conseiller_id}}" ng-repeat="v in liste">{{v.conseiller.nom}}</option>
			</select>
		</div>
	</div>



	<br /> <br />
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button class="btn btn-default" ng-click="adds()">R&eacute;server</button>
		</div>
	</div>
</form>

