
<div class="container">
	<div class="col-md-6"
		style="text-align: center; padding: 5px; margin: 5px">
		<h2 class="featurette-heading">Visite n&#186;{{visite.id}}</h2>
		<h4>Conseiller: {{visite.conseiller.nom}}</h4>
		<div style="text-align: left;">
			<h4>Agenda: {{visite.date | date: "dd/MM/yyyy hh:mm:ss"}}</h4>

			<h5 style="font-size: large;">Informations client</h5>
			Mr/Mme {{visite.client.nom}} {{visite.client.prenom}} <br />
			T&#233;l&#233;phone (priv&#233;): {{visite.client.telPrive}}
		</div>
		<br />
		<div style="text-align: left;">
			<h5 style="font-size: large;">Informations bien</h5>
			<em class="detailbien">{{visite.achat.categorie}}</em> <em
				class="detailbien">{{visite.achat.type}}</em><br /> <br />
			Adresse: {{visite.achat.adresse.rue}} {{visite.achat.adresse.cp}}
			{{visite.achat.adresse.ville}}
		</div>
		<!-- Voir pour mettre achat || location -->
		<br /> <a ng-click="deleteLien(visite.id)" class="btn btn-info">Supprimer</a>
		<a ng-click="updateLien(visite)" class="btn btn-info">Modifier</a>
		</tr>

	</div>
</div>