<h1 style="text-align: center">Liste des visites</h1>
<br/>
<h4>Recherche une visite dans la liste : <input type="text" ng-model="recherche" style="color: blue;"></h4>
<br/>
<table class="table table-bordered">
	<tr>
		<th>R&eacute;f&eacute;rence visite</th>
		<th>Date</th>
		<th>Information client</th>
		<th>Nom du conseiller</th>
		<th>Adresse du bien &agrave; visit&eacute;</th>
		<th>Op&eacute;rations</th>
	
	</tr>
	<tr ng-repeat="v in liste |filter:recherche |orderBy: 'date'">
		<td>{{v.id}}</td>
		<td>{{v.date | date: "dd/MM/yyyy hh:mm:ss"}}</td>
		<td>{{v.client.nom}}<br/>{{v.client.prenom}}<br/>{{v.client.telPrive}}</td>
		<td>{{v.conseiller.nom}}</td>
		<td>{{v.achat.categorie}}<br/>{{v.achat.type}}<br/>{{v.achat.adresse.rue}}<br/>{{v.achat.adresse.cp}} {{v.achat.adresse.ville}}</td>
		<!-- Voir pour mettre achat || location -->
	<td><a ng-click="deletelien(v.id)">Supprimer</a> | <a ng-click="updateLien(v)">Modifier</a></td>
	</tr>



</table>
