.checkbox {
	width: 50px
}

.inline {
	display: inline-block;
}

label {
	min-width: 120px;
}

.titleprghp {
	background: #1E7FCB;
	height: 46px;
	color: white;
	font-size: 23px;
	height: 46px;
	line-height: 40px;
	padding: 0 0 0 20px;
	margin: 20px 0 20px;
}

.detailbien {
	background-color: #ccdcff;
	margin: 15px;
	margin-left: none;
	padding: 1px;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 20px;
	text-align: center;
}

.marketing h2 {
	font-weight: normal;
}

.marketing .col-lg-4 p {
	margin-right: 10px;
	margin-left: 10px;
}

/* Featurettes
------------------------- */
.featurette-divider {
	margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -1px;
}